* {
  font-family: "Arial";
}

/* header */

.container a {
  color: white;
}
.navbar {
  background: rgba(0, 0, 0, 0.5);
  color: red;
}

.nav-mid {
  padding-left: 150px;
}
.wrapper-header {
  background-size: 100% 100%;
  background-image: url(./assets/main-bg.jpg);
  object-fit: contain;
  height: 100vh;
  position: relative;
}

.main-display {
  height: 81vh;
  color: white;
  align-items: center;
  padding-top: 30vh;
}

.main-display h1 {
  font-weight: 700;
  font-size: 4.5vw;
}
.main-display h3 {
  font-size: 2.5vw;
}

.main-display-btn button {
  width: 30vh;
  height: 7vh;
}

.button-scroll p {
  color: #ffffff;
}

/* about */

.Wrapper-About {
  background-size: 100% 100%;
  background-image: url(./assets/the-games-bg.jpg);
  object-fit: contain;
  height: 100vh;
  position: relative;
}

.Wrapper-About-main {
  height: 81vh;
  color: white;
  padding-top: 30vh;
}

.Wrapper-About-main h3 {
  font-size: 24px;
}
.Wrapper-About-main h1 {
  font-size: 54px;
}

/* Features */

.Wrapper-Features {
  background-size: 100% 100%;
  background-image: url(./assets/features.jpg);
  object-fit: contain;
  height: 100vh;
  position: relative;
}

ul.timeline {
  list-style-type: none;
  position: relative;
}
ul.timeline:before {
  content: " ";
  background: #ffff;
  display: inline-block;
  position: absolute;
  left: 30px;
  width: 2px;
  height: 59%;
  z-index: 400;
}
ul.timeline > li {
  margin: 20px 0;
  padding-left: 20px;
}
ul.timeline > li:before {
  content: " ";
  background: #ffff;
  display: inline-block;
  position: absolute;
  border-radius: 50%;
  border: 3px solid #ffff;
  left: 20px;
  width: 20px;
  height: 20px;
  z-index: 400;
}

ul.timeline > li.top:before {
  content: " ";
  background: transparent;
  display: inline-block;
  position: absolute;
  border-radius: 50%;
  border: 3px solid #ffff;
  left: 20px;
  width: 20px;
  height: 20px;
  z-index: 400;
}

ul.timeline > li > a {
  color: #ffb548;
  text-decoration: none;
}

ul.timeline > li > p {
  color: #ffff;
}

.Wrapper-Features-container {
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: flex-end;
  color: #ffffff;
}

.features-content-tittle h5 {
  font-weight: 400px;
  font-size: 30px;
  line-height: 28px;
}
.features-content-tittle h1 {
  font-weight: 400px;
  font-size: 70px;
  line-height: 28px;
}

.features-content-body {
  width: 70%;
  font-size: 30px;
}

.features-content {
  margin-left: 800px;
}

/* Requirement */

.Wrapper-Requirement {
  background-size: 100% 100%;
  background-image: url(./assets/requirements.png);
  object-fit: contain;
  height: 100vh;
  position: relative;
  color: #ffffff;
}

.Requirement-tittle {
  position: absolute;
  z-index: 1;
  color: #ffff;
  padding-left: 30%;
  padding-top: 100px;
}

.requirement-table h3 {
  color: #ffb548;
}
.requirement-table h5 {
  color: #ffff;
}

.Requirement-content {
  display: flex;
  align-items: center;
  height: 100%;
}

.requirement-table {
  width: 50%;
}

/* Score */
.Wrapper-score {
  background-size: 100% 100%;
  background-image: url(./assets/top-score-bg.png);
  object-fit: contain;
  height: 100vh;
  position: relative;
  color: #ffffff;
}

.score-content {
  height: 100%;
  align-items: center;
}

.score-kanan {
  display: flex;
  width: 100%;
}

.card {
  background: rgba(255, 255, 255, 0.08);
  border-radius: 10px;
}

.card-2 {
  margin-right: 150px;
}

.card-kanan {
  margin-left: 150px;
}

.card-title {
  color: #ffb548;
}

/* footer */

.Wrapper-Footer {
  background-color: #080a0b;
  height: 100vh;
  color: #ffffff;
}

.Footer-Content {
  height: 100%;
  align-items: center;
}

.Footer-Content-Body p {
  font-size: 18px;
}
.footer {
  background-color: #080a0b;
}

@media (max-width: 1537px) {
  ul.timeline:before {
    content: " ";
    background: #ffff;
    display: inline-block;
    position: absolute;
    left: 30px;
    width: 2px;
    height: 65%;
    z-index: 400;
  }
}

/* Tablet */
@media (max-width: 992px) {
  /* Features */
  ul.timeline:before {
    content: " ";
    background: #ffff;
    display: inline-block;
    position: absolute;
    left: 30px;
    width: 2px;
    height: 65%;
    z-index: 400;
  }

  .features-content-tittle h5 {
    font-size: 20px;
  }
  .features-content-tittle h1 {
    font-size: 50px;
  }

  .features-content-body {
    font-size: 20px;
  }

  .features-content {
    margin-left: 550px;
  }

  /* Requitment */
  .Requirement-tittle {
    display: none;
  }

  /* score */

  .card {
    background: rgba(255, 255, 255, 0.08);
    border-radius: 10px;
    height: 10%;
    margin: 0xpx;
  }

  .card-kanan {
    margin: 10px !important;
  }

  .card-2 {
    margin: 10px !important;
  }

  /* footer */

  .Footer-Content-Gambar img {
    height: 100vh;
  }
}

/* Phone */
@media (max-width: 575.98px) {
  .nav-mid {
    padding-left: 0px;
  }

  .navbar {
    text-align: center;
  }

  .navbar-nav {
    width: 100%;
  }
  ul.timeline:before {
    content: " ";
    background: #ffff;
    display: inline-block;
    position: absolute;
    left: 30px;
    width: 2px;
    height: 77%;
    z-index: 400;
  }

  .Footer-Content-Gambar img {
    height: 70vh;
  }
}
